includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        -   identifier: return.type
        -   identifier: method.nonObject
        -   identifier: assign.propertyType
        -   identifier: generics.lessTypes
        -   identifier: missingType.generics
        -   identifier: trait.unused
        -   identifier: encapsedStringPart.nonString

    excludePaths:
